{% comment %}
  Closed form is intended so that we can avoid nested forms.
  Submit button should have form="cart-form" attribute on order for this to be submitted
{% endcomment %}

<form action="/cart" method="post" id="cart-form"></form>
<div class="cart-form__main flex grow flex-col items-stretch justify-stretch overflow-hidden bg-[var(--section-background)]">
  <div class="cart-form__body grow overflow-auto">
    <div class="cart-form__list flex h-full w-full flex-col items-stretch">
      <template x-if="$store.cart.checkIsCartEmpty()">
        <div class="cart-form__empty flex h-full flex-col items-center justify-center">
          <p class="text mb-[1.125rem] text-[1.375rem] font-semibold leading-[1.091em] tracking-[-0.02625rem] opacity-30 last:mb-0">Cart is empty</p>
        </div>
      </template>

      <template x-if="$store.cart.checkIsCartNotEmpty()">
        <div class="cart-form__items">
          <template x-for="item in $store.cart.cartData.items">
            <template x-if="!$store.cart.cartExclusions.includes(item.product_type)">
              {% render 'cart__product' %}
            </template>
          </template>
        </div>
      </template>
    </div>
  </div>

  <div class="cart-form__footer mt-auto shrink-0 p-0">
    <div class="cart-form__summary">
      {% if cart_surcharge != blank %}
        {% render 'cart__additional-fee', block: cart_surcharge %}
      {% endif %}
      
      {% if product_upsell != blank %}
        {% render 'cart__product-upsell', block: product_upsell %}
      {% endif %}

      {% if settings.cart_notes_enabled %}
        {% render 'cart__note' %}
      {% endif %}

      {% assign gen_msg = section.settings.general_message %}
      {% assign sub_msg = section.settings.subscription_message %}
      
      {% if sub_msg != blank or gen_msg != blank %}
        {% render 'cart__footer-message', gen_msg: gen_msg, sub_msg: sub_msg %}
      {% endif %}

      <div class="cart-form__checkout flex flex-col gap-[8px] border-t border-[currentColor] [background:var(--soft-stone,#d5d1c8)] px-[20px] pb-[16px] pt-[20px] text-[var(--section-text)]">
        {% render 'cart__submit', section: section %}
        {% render 'cart__tax-note' %}
      </div>
    </div>
  </div>
</div>

{% render 'cart__scripts' %}
