<div class="cart-form__product cart-product relative flex items-stretch border border-[currentColor]">
	<div class="cart-product__image-wrap aspect-[6/7] w-[120px] shrink-0 overflow-hidden flex justify-center items-center border-r border-[currentColor]">
		<img :class="item.featured_image.url && item.featured_image.url.toLowerCase().includes('.png') ? 'w-full min-h-full block object-contain max-h-[72%] max-w-[75%]' : 'w-full min-h-full block object-cover'" :src="item.featured_image.url" :alt="item.title">
	</div>

	<div class="cart-product__info flex grow flex-col gap-[14px] overflow-hidden px-[14px] py-[16px]">
		<div class="cart-product__meta">
			<div class="cart-product__name [font-family:var(--font-heading-h4)] text-[20px] font-[500] leading-[1.1] uppercase">
				<p x-text="item.product_title"></p>
			</div>
			<div class="cart-product__variant [font-family:var(--font-body)] text-[12px] font-[700] leading-[1.4] uppercase opacity-60">
				<p x-text="item.variant_title"></p>
			</div>
		</div>

		<template x-if="item.selling_plan_allocation">
			<div class="cart-product__freq flex items-center gap-[7px]">
				{% render 'icon__rotate', color: "currentColor" %}
				<div class="[font-family:var(--font-body)] text-[12px] font-[700] leading-[1.4] uppercase">
					<p x-text="$store.cart.formatSellingplan(item.selling_plan_allocation.selling_plan.name)"></p>
				</div>
			</div>
		</template>

		<template x-if="Array.isArray(item.discounts) && item.discounts.length >= 1">
			<ul class="cart-product__discounts m-0 list-none p-0 [font-family:var(--font-body)] text-[12px] font-[700] leading-[1.4] uppercase opacity-60">
				<template x-for="discount in item.discounts">
					<li x-show="discount.amount > 0" x-text="discount.title"></li>
				</template>
			</ul>
		</template>

		<div class="cart-product__row flex items-center justify-between mt-auto">
			<div class="cart-product__quantity flex items-center justify-between rounded-[5px] border border-[currentColor] min-w-[61px] large:min-w-[81px] min-h-[32px]" x-data>
				<button
					class="quantity-picker__minus relative flex h-[24px] w-[24px] items-center justify-center"
					aria-label="Decrease line item quantity"
					@click.debounce.300ms="$store.cart.decrementQuantity(item.key, item.quantity)">
					<span class="absolute block h-px w-[10px] bg-current"></span>
				</button>

				<div class="[font-family:var(--font-body)] text-[12px] font-[700] leading-[1.4] uppercase">
					<p x-text="item.quantity"></p>
				</div>

				<button
					class="quantity-picker__plus relative flex h-[24px] w-[24px] items-center justify-center"
					aria-label="Increase line item quantity"
					@click.debounce.300ms="$store.cart.incrementQuantity(item.key, item.quantity)">
					<span class="absolute block h-px w-[10px] bg-current"></span>
					<span class="absolute block h-px w-[10px] rotate-90 bg-current"></span>
				</button>
			</div>

			<div class="cart-product__price [font-family:var(--font-body)] text-[12px] font-[700] leading-[1.4] uppercase text-right">
				<p x-html="$store.cart.formatMoney(item.line_price)"></p>
			</div>
		</div>

		<template x-if="item.original_line_price != item.line_price">
			<div class="cart-product__original-price [font-family:var(--font-body)] text-[12px] font-[700] leading-[1.4] uppercase opacity-50 line-through text-right">
				<p x-html="$store.cart.formatMoney(item.original_line_price)"></p>
			</div>
		</template>
	</div>

	<button class="cart-product__remove absolute right-[14px] top-[14px] w-4 h-4 [color:var(--section-heading)]" aria-label="Remove line item from cart" @click="$store.cart.removeToCart(item.key)">
		{%- render "icon__close" -%}
	</button>
</div>
