{%- if block.settings.label != blank -%}
  <a href="{{ block.settings.url | default: '#' }}"
    class="header__button header-button button {{ block.settings.color_theme }} "
    title="{{ block.settings.label }}">
    <span>{{ block.settings.label }}</span>
  </a>
{%- endif -%}

{% schema %}
{
  "name": "Button",
  "class": "header__button-block",
  "settings": [
    {
      "type": "url",
      "id": "url",
      "label": "URL"
    },
    {
      "type": "text",
      "id": "label",
      "label": "Label",
      "default": "Shop Now"
    },
    {
      "type": "select",
      "id": "color_theme",
      "label": "Color Theme",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        },
        {
          "value": "tertiary",
          "label": "Tertiary"
        },
        {
          "value": "underlined-cta",
          "label": "Underline"
        }
      ]
    },
  ],
  "presets": [
    {
      "name": "Button"
    }
  ]
}
{% endschema %}
