<div class="text-icon-card-grid__card__inner h-full flex flex-col justify-between">

  {%- if block.settings.title != blank -%}
    <p class="text-icon-card-grid__card__title [font-family:var(--font-heading-h4)] text-[20px] large:text-[26px] font-[500] leading-[1.1] uppercase [color:var(--section-heading)]">
      {{ block.settings.title }}
    </p>
  {%- endif -%}

  <div class="text-icon-card-grid__card__footer flex flex-col gap-[8px]">
    {%- if block.settings.icon != blank -%}
      <div class="text-icon-card-grid__card__icon-wrap w-[60px]">
        {%- render 'component__lazyload-image',
          image: block.settings.icon,
          width: 120,
          class: "w-full h-auto block" -%}
      </div>
    {%- endif -%}

    {%- if block.settings.description != blank -%}
      <p class="text-icon-card-grid__card__description [font-family:var(--custom-font-name-2)] text-[12px] font-[700] leading-[1.4] uppercase opacity-70 [color:var(--section-heading)]">
        {{ block.settings.description }}
      </p>
    {%- endif -%}
  </div>

</div>

{% schema %}
{
  "name": "Card",
  "class": "text-icon-card-grid__card",
  "settings": [
    {
      "type": "header",
      "content": "Card Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Icon"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    }
  ],
  "presets": [
    {
      "name": "Card"
    }
  ]
}
{% endschema %}
