@import "../variables";
@import "../tools/util/util";
@import "../tools/mixins";

.table-section__column {
  display: flex;
  flex-direction: column;
}

.mfr-core__table-section {
  .table-section {
    width: 100%;
    min-width: 0;
    overflow: auto;

    &__table {
      @include enter-animation {
        overflow: auto;
      }
    }

    tbody,
    tr {
      background: unset !important;
      border: unset !important;
    }

    tr {
      &:not(:last-child) {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: calc( 100% - #{ rem-calc( 2px ) } );
          height: rem-calc( 1px );
          background-color: rgba(133, 133, 133, 1);
          @include transform( translateX( -50% ) );
          @include transform-origin( left center );
          @include transition( $global-transition );
        }
      }

      @include enter-animation {
        &:after {
          @include transform( translateX( -50% ) scale( 0 ) );
        }

        .table-section__item {
          @include opacity( 0 );
          @include transform( translateY( calc( $enter-transform-value * -1 ) ) );
        }
      }
    }

    &__item {
      background-color: var(--bg-color, transparent);
      color: var(--text-color, $black);
      padding: rem-calc(10);
      @include transition( $global-transition );

      &:not(:last-child) {
        border-right: 1px solid rgba(133, 133, 133, 1);
      }

      img {
        width: auto;
        height: rem-calc( 26px );
        margin: 0 auto;
        display: block;
        object-fit: contain;

        @include breakpoint( large up ) {
          height: rem-calc( 32px );
        }
      }
    }

    &__media {
      width: 100%;
      aspect-ratio: 495/510;

      @include breakpoint( large up ) {
        width: 37%;
        height: 100%;
        aspect-ratio: unset;
      }
    }
  }
}
