.blog-grid__column {
  display: flex;
  flex-direction: column;
}

@import "../variables";
@import "../tools/util/util";
@import "../tools/mixins";

.blog-grid__wrapper {
  width: 100%;
  min-width: 0;
}

.blog-grid {
  &__search {
    @include transition($global-transition);

    @include enter-animation {
      @include transform(translateY($enter-transform-value));
      @include opacity(0);
    }

    img {
      position: absolute;
      top: 50%;
      right: rem-calc(23px);
      width: rem-calc(15px);
      @include transform(translateY(-50%) scaleX(-1));
    }

    input {
      @include small;
      font-weight: 600;
      margin: 0;
      padding: rem-calc(6px) rem-calc(13px);
      padding-right: rem-calc(45px);
      @include border-radius(rem-calc(20px));
      @include transition($global-transition);

      @include breakpoint(large up) {
        width: rem-calc(250px);
      }

      @include placeholder {
        color: currentColor;
        @include opacity(0.6);
      }
    }
  }

  &__filters-inner {
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
      width: 3px;
    }

    &::-webkit-scrollbar:horizontal {
      height: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $black;
      @include border-radius(rem-calc(10px));
      border: none;
    }

    &::-webkit-scrollbar-track {
      @include border-radius(rem-calc(10px));
      background-color: transparent;
    }

    &.with-scroll {
      justify-content: flex-start;

      @include breakpoint(medium down) {
        padding-bottom: rem-calc(10px);
      }
    }

    li {
      overflow: hidden;
      flex-shrink: 0;

      button {
        @include small;
        line-height: 1.8em;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: rem-calc(0.29px);
        padding: rem-calc(4px) rem-calc(15px);
        @include border-radius(rem-calc(22px));
        @include transition($global-transition);

        &.is-active {
          background-color: $color-accent-2;
        }

        @include hover {
          background-color: $color-accent-2;
        }

        @include enter-animation {
          @include transform(translateY($enter-transform-value));
          @include opacity(0);
        }
      }
    }
  }

  &__empty {
    @include large;
    font-weight: 700;
    margin-top: rem-calc(20px);
  }

  &__load-more {
    .button {
      width: 100%;
      padding: rem-calc(8px);
      min-height: rem-calc(60px);
      max-width: rem-calc(210px);
    }
  }
}
