@import "../variables";
@import "../tools/util/util";
@import "../tools/mixins";
@import "../site-specifics";

.mfr-product__top {
  .product-top__images {
    .flickity-viewport {
      transition: $global-transition;
    }

    .flickity-page-dots {
      position: absolute !important;
      bottom: 16px !important;
      left: 50% !important;
      transform: translateX(-50%) !important;
      width: auto !important;
      display: flex !important;
      gap: 6px !important;
      margin: 0 !important;

      .dot {
        display: block;
        width: 40px;
        height: 2px;
        border-radius: 1px;
        margin: 0;
        background: currentColor;
        opacity: 0.2;

        &.is-selected {
          opacity: 1;
        }
      }
    }

    .product-top__images-grid {
      .product-top__images-item {
        border-top: 1px solid currentColor;

        &:first-child {
          border-top: none;
        }

        &:nth-child(3n+2) {
          border-right: 1px solid currentColor;
        }

        &:nth-child(3n+1) {
          padding: 15.25% 16.6% 14.3%;
        }
      }
    }

    .flickity-prev-next-button {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background: white;
      border: 1.5px solid currentColor;
      top: 50%;
      transform: translateY(-50%);

      &.previous {
        left: 20px;
      }

      &.next {
        right: 20px;
      }

      .flickity-button-icon {
        width: 40%;
        height: 40%;
        left: 30%;
        top: 30%;
      }
    }

    .product-top__images-pills {
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
      padding: 0 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;

      @include breakpoint(large up) {
        bottom: 60px;
      }
    }
  }

  .product-top__info {
  }

  .subscription-selector {
    &__options {
    }

    &__options-wrapper {
    }

    &__options-head {
    }

    &__options-indicator {
      &.is-active {
      }
    }

    &__options-prices {
    }

    &__options-frequencies {
    }
  }
}
