{% comment %} {% render 'style-tags__section', asset_file_name: "footer.css", lazyload: true %} {% endcomment %}
{% render 'renderer__color-scheme', name: "footer", color_scheme: section.settings.color_scheme, selector: ".footer" %}
{% assign appear_on = section.settings.appear_on | newline_to_br | strip_newlines | split: '<br />' %}

{% if appear_on == blank or appear_on contains template %}
  <style>
    #footer {
      --footer-overlay-mobile: url('{{ 'footer__overlay-mobile.png' | asset_img_url: 'master' }}');
      --footer-overlay-desktop: url('{{ 'footer__overlay-desktop.png' | asset_img_url: 'master' }}');
    }
  </style>
  {%- if section.settings.grid_container_width == "full" -%}
    {%- assign grid_container_class = "grid-container full max-w-none px-[var(--grid-container-padding-mobile)] large:px-[var(--grid-container-padding-desktop)]" -%}
  {%- else -%}
    {%- assign grid_container_class = "grid-container mx-auto max-w-[var(--grid-container-max-width)] px-[var(--grid-container-padding-mobile)] large:px-[var(--grid-container-padding-desktop)]" -%}
  {%- endif -%}
  <div class="{{ grid_container_class }} w-full flex flex-row flex-wrap" data-inview>
    <div class="footer__contents flex flex-col justify-stretch transition-all large:flex-row large:justify-between large:flex-wrap w-full min-w-0">
      {%- content_for "blocks" -%}
    </div>
  </div>
{% else %}
  <style>
    #shopify-section-{{- section.id -}} {
      visibility: hidden;
      display: none;
    }
  </style>
{% endif %}

{% schema %}
{
  "name": "Footer",
  "class": "footer__main",
  "enabled_on": {
    "groups": ["footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Color Schemes Settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color Scheme",
      "info": "This will be the color scheme of the footer initially."
    },
    {
      "type": "header",
      "content": "Container Settings"
    },
    {
      "type": "select",
      "id": "grid_container_width",
      "label": "Grid Container Width",
      "options": [
        { "value": "contain", "label": "Contain" },
        { "value": "full", "label": "Full" }
      ],
      "default": "contain"
    },
    {
      "type": "header",
      "content": "Visibility Settings"
    },
    {
      "type": "textarea",
      "id": "appear_on",
      "label": "Appear Only On:",
      "info": "Separated by newline. Insert template.suffix. Example: product or product.bundles"
    }
  ],

  "blocks": [
    { "type": "_footer__column" }
  ],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}
