{% assign social_links = section.blocks | where: "type", "social_links" | first %}
{% assign icons = section.blocks | where: "type", "icon" %}
{% assign note = section.blocks | where: "type", "note" | first %}

{% assign appear_on = section.settings.appear_on | newline_to_br | strip_newlines | split: '<br />' %}

{% if appear_on == blank or appear_on contains template %}
  {%- if section.settings.grid_container_width == "full" -%}
    {%- assign grid_container_class = "grid-container full max-w-none px-[var(--grid-container-padding-mobile)] large:px-[var(--grid-container-padding-desktop)]" -%}
  {%- else -%}
    {%- assign grid_container_class = "grid-container mx-auto max-w-[var(--grid-container-max-width)] px-[var(--grid-container-padding-mobile)] large:px-[var(--grid-container-padding-desktop)]" -%}
  {%- endif -%}
  <div class="{{ grid_container_class }} w-full flex flex-row flex-wrap">
    <div class="footer__socket-left w-full min-w-0 large:w-1/2 large:items-start">
      {% if social_links != blank %}
        {% render 'footer__social-links' %}
      {% endif %}
    </div>
    <div class="footer__socket-right w-full min-w-0 large:w-1/2 large:items-end">
      <p class="footer__copyright" data-inview>
        ©Site by <a href="https://manufactur.co" target="_blank" aria-label="Manufactur" title="Manufactur">Manufactur</a>
      </p>
    </div>
  </div>
{% else %}
  <style>
    #shopify-section-{{- section.id -}} {
      visibility: hidden;
      display: none;
    }
  </style>
{% endif %}

{% schema %}
{
  "name": "Footer Socket",
  "class": "footer__socket",
  "enabled_on": {
    "groups": ["footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Color Schemes Settings"
    },
    {
      "type": "header",
      "content": "Container Settings"
    },
    {
      "type": "select",
      "id": "grid_container_width",
      "label": "Grid Container Width",
      "options": [
        { "value": "contain", "label": "Contain" },
        { "value": "full", "label": "Full" }
      ],
      "default": "contain"
    },
    {
      "type": "header",
      "content": "Visibility Settings"
    },
    {
      "type": "textarea",
      "id": "appear_on",
      "label": "Appear Only On:",
      "info": "Separated by newline. Insert template.suffix. Example: product or product.bundles"
    }
  ],

  "blocks": [
    {
      "type": "social_links",
      "name": "Social Links",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Social Links"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer Socket"
    }
  ]
}
{% endschema %}
