{% render 'style-tags__section', asset_file_name: "offcanvas-menu.css" %}

{%- capture mobile_menu_content -%}
  {%- render 'renderer__color-scheme',
    name: "section",
    color_scheme: section.settings.color_scheme,
    selector: ".shopify-section",
    section_id: "offCanvasMenu" -%}

  <div class="relative w-full min-h-full"
    x-data
    :style='{ paddingTop: $store.offCanvas.announcementBarHeight + "px" }'>
    <button class="absolute right-[8px] w-[42px] h-[42px] z-10"
      :style='{ top: ($store.offCanvas.announcementBarHeight + 14) + "px" }'
      x-data
      x-on:click='$store["offCanvasMenu"].closeOffcanvas()'
      aria-label="Close menu">
      {%- render 'icon__close-with-circle' -%}
    </button>
    <div class="offcanvas-menu__wrapper relative flex items-stretch justify-stretch w-[calc(100%_-_38px)] min-h-full [background:var(--section-background)] [color:var(--section-text)]">

      <div class="offcanvas-menu__inner pt-[33px] px-[20px] pb-[28px] flex flex-col gap-[32px]">
        {%- content_for "blocks" -%}
        <div class="mt-auto">
          {%- content_for "block", type: "_offcanvas-menu__social-icons", id: "social-icons" -%}
        </div>
      </div>
    </div>

  </div>
{%- endcapture -%}

{%- render 'mfr-component__offcanvas',
  id: "offCanvasMenu",
  class: "offcanvas-menu",
  position: "left",
  content: mobile_menu_content,
  initially_open: false -%}

{% schema %}
{
  "name": "OffCanvas Menu",
  "enabled_on": {
    "groups": ["custom.offcanvas"]
  },
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "Color Schemes Settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color Scheme"
    }
  ],
  "blocks": [
    { "type": "_offcanvas-menu__image-text-links" },
    { "type": "_offcanvas-menu__menu" },
    { "type": "_offcanvas-menu__social-icons" }
  ],
  "presets": [
    {
      "name": "Offcanvas Menu"
    }
  ]
}
{% endschema %}
