
/* ACCORDION */
.accordion {
  background-color: transparent;
  margin: 0;
}

.accordion-item {
  position: relative;
  // padding: rem-calc( 35px ) rem-calc( 20px );
  background: $white;
  border: solid rem-calc( 1px ) rgba(#000000,0.08);
  margin: 0;
  @include border-radius( rem-calc( 28px ) );
  @include transition( $global-transition );

  @include breakpoint( large up ) {
    // padding: rem-calc( 38px ) rem-calc( 31px );
  }

  &.is-active {
    background-color: #F7F7F7;
    border-color: #F7F7F7;
    .accordion-title span {
      @include transform( rotate(180deg) );

      &:after {
        @include opacity( 0 );
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: rem-calc( 18px );

    @include breakpoint( large up ) {
      margin-bottom: rem-calc( 16px );
    }
  }

  .accordion-title {
    padding: rem-calc( 26px ) rem-calc( 19px ) rem-calc( 26px ) rem-calc( 30px );
    @include transition( 0.25s all ease );

    @include breakpoint( large up ) {
      padding-right: rem-calc( 24px );
    }
  }

  &.is-active {
    .accordion-title {
      padding-bottom: 0;
    }
  }

  .accordion-content {
    padding: rem-calc( 11px ) rem-calc( 66px ) rem-calc( 27px ) rem-calc( 26px );

    @include breakpoint( large up ) {
      padding: rem-calc( 12px ) rem-calc( 93px ) rem-calc( 32px ) rem-calc( 33px );
    }
  }
}

.accordion-title {
  font-size: rem-calc( 24px );
  line-height: 1.542em;
  font-weight: 300;
  background-color: transparent !important;
  border: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  border: none !important;

  @include breakpoint( large up ) {
    font-size: rem-calc( 28px );
    line-height: 1.321em;
    font-weight: 300;
  }

  &::before {
    content: none;
    display: none;
    right: 0;
    margin-top: 0;
    top: 0;
  }

  span {
    position: relative;
    width: rem-calc( 21px );
    height: rem-calc( 21px );
    flex-shrink: 0;
    margin-left: rem-calc( 21px );
    @include transition( $global-transition );

    @include breakpoint( large up ) {
      margin-left: rem-calc( 58px );
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      border: solid rem-calc( 2px ) currentColor;
      width: 100%;
      height: 0;
      @include border-radius( 22px );
      @include transform( translate( -50%, -50% ) );
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      border: solid rem-calc( 2px ) currentColor;
      width: 100%;
      height: 0;
      @include border-radius( 22px );
      @include transform( translate( -50%, -50% ) rotate( 90deg ) );
      @include transition( $global-transition );
    }
  }
}

.accordion-content {
  @include small;
  line-height: 1.429em;
  font-weight: 400;
  background-color: transparent;
  border: none;
  color: currentColor;
  border: none !important;

  @include breakpoint( large up ) {
    @include regular;
    line-height: 1.389em;
  }

  &__cta {
    width: auto;
    min-width: rem-calc( 230px );
    background-color: currentColor;
    display: inline-flex;
    @include transition( $global-transition );

    span {
      color: $white;
      @include transition( $global-transition );
    }

    @include hover {
      background-color: $white;

      span {
        color: currentColor;
      }
    }
  }

  ul,
  ol {
    padding-left: rem-calc( 25px );
  }

  p {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
    margin-bottom: rem-calc( 25px );

    &:last-child { margin-bottom: 0; }
  }

  & > * {
    &:first-child { margin-top: 0; }
    &:last-child { margin-bottom: 0; }
  }
}

// ─── Block wrapper ───────────────────────────────────────────────────────────

.accordion__wrapper {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: rem-calc(10);
  }
}
