/* CONTAINER */
.container {
  width: 100%;
  max-width: rem-calc( 1440px );
  margin-left: auto;
  margin-right: auto;
}

.grid-container {
  max-width: var(--grid-container-max-width);
  margin-inline: auto;
  padding-inline: var(--grid-container-padding-mobile);

  @include breakpoint(large up) {
    padding-inline: var(--grid-container-padding-desktop);
  }

  &.full {
    max-width: none;
    padding-inline: 0;
  }
}