.mfr-video-with-controls {
  
  &__inner {
    position: relative;
    width: 100%;
    height: auto;
    contain: paint;
    display: flex;
    @include border-radius( rem-calc( 30px ) );
  }

  &__title {
    font-size: rem-calc( 28px );
    line-height: 1.071em;
    font-weight: 600;
    letter-spacing: rem-calc( -0.8px );
    text-align: left;
    padding: 0 rem-calc( 9px );

    @include breakpoint( large up ) {
      text-align: center;
    }

    &:not(:last-child) {
      margin-bottom: rem-calc( 25px );

      @include breakpoint( large up ) {
        margin-bottom: rem-calc( 48px );
      }
    }
  }
}
