@import "../variables";
@import "../tools/util/util";
@import "../tools/mixins";

.product-card {
  &__info-rating {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  &__cta {
    form {
      width: auto;
      margin-top: 0;
      color: inherit;
    }

    button.add-to-cart {
      width: rem-calc(124);
      min-height: unset;
      padding: rem-calc(10) rem-calc(20);
    }
  }
}
