.product-badge {
  font-size: rem-calc(12px);
  line-height: rem-calc(14px);
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  letter-spacing: rem-calc(0.20px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10;
  width: rem-calc(65px);
  height: rem-calc(65px);
  margin: 0;
  padding: rem-calc(10px);
  background-color: var(--brand-color);
  @include border-radius(100%);
}